$color-black: #000;
$color-beige: rgb(238, 238, 204);
$color-white: #fff;

/* Typography */
$font-family-sans: 'apple-system', BlinkMacSystemFont, sans-serif;
$font-base-size: 1em; /* 16px */
$font-base-line-height: calc(24 / 16); /* 24px */

/* Media queries */
