@import './_variables.scss';
@import './_mixins.scss';

@import './components/header.scss';
@import './components/card.scss';
@import './components/accordion.scss';
@import './components/signUpForm.scss';
@import './components/signInForm.scss';
@import './pages/homePage.scss';
@import './pages/cardSpesific.scss';
@import './pages/about.scss';
@import './pages/contact.scss';
@import './pages/signin.scss';
@import './pages/signup.scss';

html {
  font-family: $font-family-sans;
  font-size: $font-base-size;
  line-height: $font-base-line-height;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $color-white;
  color: $color-black;
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 600;
}

input,
select,
option,
textarea {
  &:focus {
    outline: none;
  }
}
